/* _______Google fonts link here __________ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;500;600;700&display=swap');
/* _________Basic setup is here_____________ */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size:62.5%;
}
.container{
    max-width:144rem;
    margin:auto;
    padding:0 2rem;
}
h1{
    font-size:5.2rem;
}
h2{
    font-size: 3.8rem;
}
h3{
    font-size: 2.8rem;
    font-weight: 500;
}
h4{
    font-size:2.4rem;
}
p{
    font-size: 1.6rem;
    color:#787885;
    margin:1.6rem 0;
}
h1,h2,h4,p{
    font-weight: 700;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:#3A3A3A;
    font-size: 1.6rem;
    font-weight: 600;
}
.btn{
    font-size:1.6rem;
    font-weight: 700;
    padding:1rem 1.5rem;
    background-color:#E02C6D;
    color:#fff;
    border:none;
    cursor:pointer;
}
/* _______Close basic setup style__________ */
/* _______Here is start header style_______ */
header nav{
    display: flex;
    justify-content: space-between;
    padding:4rem 0;
}
header nav>ul{
    display: flex;
    gap: 3.4rem;
}
header .banner{
    display: flex;
    align-items: center;
    padding-top:5rem;
    justify-content: space-between;
    min-height:60rem;
}
header .banner-content{
    width:50%;
}
header .banner-description{
    width:70%;
}
header .banner-btn{
    border-radius: 2rem;
    margin-top:1.6rem;
}
header .banner-img{
    background-image: url("../img/Circle_design.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y:2rem;
    padding:3rem;
}
header .banner-img img{
    width:100%;
}
/* _______Here is end header style_________ */